@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.przeslij3 {
    height: 5600px;
    overflow: visible;
}
.header {
    position: sticky;
    top: 0;
    width: 100%;
    height: 230px;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(50px);
    z-index: 100;
}

.CV2 {
    position: absolute;
    width: 191px;
    height: 192px;
    left: calc(50% - 191px/2 + 0.5px);
    top: calc(50% - 192px/2);
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 128px;
    line-height: 192px;
    text-align: center;
    text-transform: uppercase;
    
    color: #FFF;
}

.grp4 {
position: absolute;
width: 600px;
height: 5600px;
left: calc(50% - 608px/2);
top: 271px;
}

.form {   
position: absolute;
width: 600px;
height: 5600px;
margin-bottom: 50px;
background: rgba(255, 255, 255, 0.5);
opacity: 0.7;
border-radius: 40px;
border: 4px solid #000;
}

.imie {
position: absolute;
width: 564px;
height: 70px;
left: calc(50% - 572px/2);
top: calc(50% - 78px/2 - 2700px);
background: #FFFFFF;
border-radius: 40px;
border: 4px solid #000;
outline: none;
caret-color: transparent;
font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
}

.imie:focus {
    background: rgba(255, 255, 255, 0.5);
}


.label-imie {
    position: absolute;
    width: 564px;
    height: 70px;
left: calc(50% - 564px/2 + 30px);
top: calc(50% - 70px/2 - 2750px);
font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
}

.nazwisko {
    position: absolute;
    width: 564px;
    height: 70px;
    left: calc(50% - 572px/2);
    top: calc(50% - 78px/2 - 2570px);
    background: #FFFFFF;
    border-radius: 40px;
    border: 4px solid #000;
    outline: none;
    caret-color: transparent;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    }
    
    .nazwisko:focus {
        background: rgba(255, 255, 255, 0.5);
    }
    
    
    .label-nazwisko {
        position: absolute;
        width: 564px;
        height: 70px;
    left: calc(50% - 564px/2 + 30px);
    top: calc(50% - 70px/2 - 2620px);
    font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
    }

    .photo {
        position: absolute;
        width: 564px;
        height: 70px;
        left: calc(50% - 572px/2);
        top: calc(50% - 78px/2 - 2440px);
        background: #FFFFFF;
        border-radius: 40px;
        border: 4px solid #000;
        outline: none;
        caret-color: transparent;
        color: transparent;
        }
        
        .photo:focus {
            background: rgba(255, 255, 255, 0.5);
        }
        
        
        .label-photo {
            position: absolute;
            width: 564px;
            height: 70px;
        left: calc(50% - 564px/2 + 30px);
        top: calc(50% - 70px/2 - 2490px);
        font-family: 'Poppins';
            font-style: normal;
            font-weight: 700;
            font-size: 32px;
        }

        .photo::-webkit-file-upload-button {
            visibility: hidden;
          }
          .photo::before {
            content: '';
          }
          .photo::after {
            width:300px;
            position: absolute;
            content: 'Kliknij by przesłać zdjęcie';
            color: #888;
            text-align: center;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            left: calc(600px/2 - 168px);
            top: calc(78px/2 - 19px)
          }

          .uploaded::after {
            width:300px;
            position: absolute;
            content: 'Przesłano zdjęcie';
            color: #888;
            text-align: center;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            left: calc(600px/2 - 168px);
            top: calc(78px/2 - 19px)
          }

          .sex {
            position: absolute;
            width: 572px;
        height: 78px;
        left: calc(50% - 572px/2);
        top: calc(50% - 78px/2 - 2310px);
        background: #FFFFFF;
        border-radius: 40px;
        border: 4px solid #000;
        outline: none;
        font-family: 'Poppins';
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            text-align: center;
            color: #888;
          }

          .label-sex {
            position: absolute;
            width: 564px;
            height: 70px;
        left: calc(50% - 564px/2 + 30px);
        top: calc(50% - 70px/2 - 2360px);
        font-family: 'Poppins';
            font-style: normal;
            font-weight: 700;
            font-size: 32px;
          }

          .sex option {
            background: rgba(255, 255, 255, 0.5);
            color: #888;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
          }
          .sex:focus {
            background: rgba(255, 255, 255, 0.5);
        }

        .date {
            position: absolute;
        width: 564px;
        height: 70px;
        left: calc(50% - 572px/2);
        top: calc(50% - 78px/2 - 2180px);
        background: #FFFFFF;
        border-radius: 40px;
        border: 4px solid #000;
        outline: none;
        caret-color: transparent;
        color: #888;
        font-family: 'Poppins';
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            text-align: center;
        }

        .label-date {
            position: absolute;
            width: 564px;
            height: 70px;
        left: calc(50% - 564px/2 + 30px);
        top: calc(50% - 70px/2 - 2230px);
        font-family: 'Poppins';
            font-style: normal;
            font-weight: 700;
            font-size: 32px;
        }

        .date:focus {
            background: rgba(255, 255, 255, 0.5);
        }
        .nrtel {
            position: absolute;
        width: 564px;
        height: 70px;
        left: calc(50% - 572px/2);
        top: calc(50% - 78px/2 - 2050px);
        background: #FFFFFF;
        border-radius: 40px;
        border: 4px solid #000;
        outline: none;
        caret-color: transparent;
        color: #000;
        font-family: 'Poppins';
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            text-align: center;
        }

        .label-nrtel {
            position: absolute;
            width: 564px;
            height: 70px;
        left: calc(50% - 564px/2 + 30px);
        top: calc(50% - 70px/2 - 2100px);
        font-family: 'Poppins';
            font-style: normal;
            font-weight: 700;
            font-size: 32px;
        }

        .nrtel:focus {
            background: rgba(255, 255, 255, 0.5);
        }

        .email {
            position: absolute;
        width: 564px;
        height: 70px;
        left: calc(50% - 572px/2);
        top: calc(50% - 78px/2 - 1920px);
        background: #FFFFFF;
        border-radius: 40px;
        border: 4px solid #000;
        outline: none;
        caret-color: transparent;
        color: #000;
        font-family: 'Poppins';
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            text-align: center;
        }

        .label-email {
            position: absolute;
            width: 564px;
            height: 70px;
        left: calc(50% - 564px/2 + 30px);
        top: calc(50% - 70px/2 - 1970px);
        font-family: 'Poppins';
            font-style: normal;
            font-weight: 700;
            font-size: 32px;
        }

        .email:focus {
            background: rgba(255, 255, 255, 0.5);
        }

        .label-edu {
            position: absolute;
            width: 564px;
            height: 70px;
        left: calc(50% - 564px/2 + 30px);
        top: calc(50% - 70px/2 - 1830px);
        font-family: 'Poppins';
            font-style: normal;
            font-weight: 700;
            font-size: 32px;
        }

        .edu {
            position: absolute;
            left: calc(50% - 572px/2 + 30px);
            top: calc(50% - 78px/2 - 1760px);
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
        }

        .label-edu2 {
            position: absolute;
            width: 564px;
            height: 70px;
        left: calc(50% - 564px/2 + 60px);
        top: calc(50% - 70px/2 - 1772.5px);
        font-family: 'Poppins';
            font-style: normal;
            font-weight: 700;
            font-size: 25px;
        }

        .edu2 {
            position: absolute;
            left: calc(50% - 572px/2 + 30px);
            top: calc(50% - 78px/2 - 1720px);
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
        }

        .edu3{
            position: absolute;
            left: calc(50% - 572px/2 + 30px);
            top: calc(50% - 78px/2 - 1680px);
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
        }

        .label-edu3 {
            position: absolute;
            width: 564px;
            height: 70px;
        left: calc(50% - 564px/2 + 60px);
        top: calc(50% - 70px/2 - 1732.5px);
        font-family: 'Poppins';
            font-style: normal;
            font-weight: 700;
            font-size: 25px;
        }

        .label-edu4 {
            position: absolute;
            width: 564px;
            height: 70px;
        left: calc(50% - 564px/2 + 60px);
        top: calc(50% - 70px/2 - 1692.5px);
        font-family: 'Poppins';
            font-style: normal;
            font-weight: 700;
            font-size: 25px;
        }


        input[type='checkbox'] {
            appearance: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            width: 20px;
            height: 20px;
            border: 2px solid #ccc;
            border-radius: 3px;
            transition: background-color 0.3s ease;
          }

          input[type='checkbox']:checked {
            background-color: black;
          }

          .div-studia {
            position: absolute;
            width: 600px;
            height: 600px;
            top: 1110px;
            left: calc(50% - 600px/2 - 604px);
            background: rgba(255, 255, 255, 0.5);
            border-top-left-radius: 40px;
            border-bottom-left-radius: 40px;
            border-top: 4px solid #000;
            border-left: 4px solid #000;
            border-bottom: 4px solid #000;
          }

          .p-studia {
            text-align: center;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 700;
            font-size: 50px;
          }

          .nazwa {
            position: absolute;
        width: 564px;
        height: 70px;
        left: calc(50% - 572px/2);
        top: calc(50% - 78px/2 - 140px);
        background: #FFFFFF;
        border-radius: 40px;
        border: 4px solid #000;
        outline: none;
        caret-color: transparent;
        color: #000;
        font-family: 'Poppins';
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            text-align: center;
        }

        .label-nazwa {
            position: absolute;
            width: 564px;
            height: 70px;
        left: calc(50% - 564px/2 + 30px);
        top: calc(50% - 70px/2 - 190px);
        font-family: 'Poppins';
            font-style: normal;
            font-weight: 700;
            font-size: 32px;
        }

        .nazwa:focus {
            background: rgba(255, 255, 255, 0.5);
        }

        .kierunek {
            position: absolute;
        width: 564px;
        height: 70px;
        left: calc(50% - 572px/2);
        top: calc(50% - 78px/2 - 10px);
        background: #FFFFFF;
        border-radius: 40px;
        border: 4px solid #000;
        outline: none;
        caret-color: transparent;
        color: #000;
        font-family: 'Poppins';
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            text-align: center;
        }

        .label-kierunek {
            position: absolute;
            width: 564px;
            height: 70px;
        left: calc(50% - 564px/2 + 30px);
        top: calc(50% - 70px/2 - 60px);
        font-family: 'Poppins';
            font-style: normal;
            font-weight: 700;
            font-size: 32px;
        }

        .kierunek:focus {
            background: rgba(255, 255, 255, 0.5);
        }

        .dataroz {
            position: absolute;
        width: 564px;
        height: 70px;
        left: calc(50% - 572px/2);
        top: calc(50% - 78px/2 + 120px);
        background: #FFFFFF;
        border-radius: 40px;
        border: 4px solid #000;
        outline: none;
        caret-color: transparent;
        color: #000;
        font-family: 'Poppins';
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            text-align: center;
        }

        .label-dataroz {
            position: absolute;
            width: 564px;
            height: 70px;
        left: calc(50% - 564px/2 + 30px);
        top: calc(50% - 70px/2 + 70px);
        font-family: 'Poppins';
            font-style: normal;
            font-weight: 700;
            font-size: 32px;
        }

        .dataroz:focus {
            background: rgba(255, 255, 255, 0.5);
        }

        .datauko {
            position: absolute;
        width: 564px;
        height: 70px;
        left: calc(50% - 572px/2);
        top: calc(50% - 78px/2 + 250px);
        background: #FFFFFF;
        border-radius: 40px;
        border: 4px solid #000;
        outline: none;
        caret-color: transparent;
        color: #000;
        font-family: 'Poppins';
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            text-align: center;
        }

        .label-datauko {
            position: absolute;
            width: 564px;
            height: 70px;
        left: calc(50% - 564px/2 + 30px);
        top: calc(50% - 70px/2 + 200px);
        font-family: 'Poppins';
            font-style: normal;
            font-weight: 700;
            font-size: 32px;
        }

        .datauko:focus {
            background: rgba(255, 255, 255, 0.5);
        }

        .div-srednia {
            position: absolute;
            width: 604px;
            height: 608px;
            top: 1110px;
            left: calc(50% - 600px/2);
          }

          .p-srednia {
            text-align: center;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 700;
            font-size: 50px;
          }

          .nazwa2 {
            position: absolute;
        width: 564px;
        height: 70px;
        left: calc(50% - 572px/2);
        top: calc(50% - 78px/2 - 140px);
        background: #FFFFFF;
        border-radius: 40px;
        border: 4px solid #000;
        outline: none;
        caret-color: transparent;
        color: #000;
        font-family: 'Poppins';
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            text-align: center;
        }

        .label-nazwa2 {
            position: absolute;
            width: 564px;
            height: 70px;
        left: calc(50% - 564px/2 + 30px);
        top: calc(50% - 70px/2 - 190px);
        font-family: 'Poppins';
            font-style: normal;
            font-weight: 700;
            font-size: 32px;
            color: #000;
        }

        .nazwa2:focus {
            background: rgba(255, 255, 255, 0.5);
        }

        .kierunek2 {
            position: absolute;
        width: 564px;
        height: 70px;
        left: calc(50% - 572px/2);
        top: calc(50% - 78px/2 - 10px);
        background: #FFFFFF;
        border-radius: 40px;
        border: 4px solid #000;
        outline: none;
        caret-color: transparent;
        color: #000;
        font-family: 'Poppins';
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            text-align: center;
        }

        .label-kierunek2 {
            position: absolute;
            width: 564px;
            height: 70px;
        left: calc(50% - 564px/2 + 30px);
        top: calc(50% - 70px/2 - 60px);
        font-family: 'Poppins';
            font-style: normal;
            font-weight: 700;
            font-size: 32px;
            color: #000;
        }

        .kierunek2:focus {
            background: rgba(255, 255, 255, 0.5);
        }

        .dataroz2 {
            position: absolute;
        width: 564px;
        height: 70px;
        left: calc(50% - 572px/2);
        top: calc(50% - 78px/2 + 120px);
        background: #FFFFFF;
        border-radius: 40px;
        border: 4px solid #000;
        outline: none;
        caret-color: transparent;
        color: #000;
        font-family: 'Poppins';
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            text-align: center;
        }

        .label-dataroz2 {
            position: absolute;
            width: 564px;
            height: 70px;
        left: calc(50% - 564px/2 + 30px);
        top: calc(50% - 70px/2 + 70px);
        font-family: 'Poppins';
            font-style: normal;
            font-weight: 700;
            font-size: 32px;
            color: #000;
        }

        .dataroz2:focus {
            background: rgba(255, 255, 255, 0.5);
        }

        .datauko2 {
            position: absolute;
        width: 564px;
        height: 70px;
        left: calc(50% - 572px/2);
        top: calc(50% - 78px/2 + 250px);
        background: #FFFFFF;
        border-radius: 40px;
        border: 4px solid #000;
        outline: none;
        caret-color: transparent;
        color: #000;
        font-family: 'Poppins';
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            text-align: center;
        }

        .label-datauko2 {
            position: absolute;
            width: 564px;
            height: 70px;
        left: calc(50% - 564px/2 + 30px);
        top: calc(50% - 70px/2 + 200px);
        font-family: 'Poppins';
            font-style: normal;
            font-weight: 700;
            font-size: 32px;
            color: #000;
        }

        .datauko2:focus {
            background: rgba(255, 255, 255, 0.5);
        }

        .div-podstawa {
            position: absolute;
            width: 600px;
            height: 600px;
            top: 1110px;
            left: calc(50% - 600px/2 + 604px);
            background: rgba(255, 255, 255, 0.5);
            border-top-right-radius: 40px;
            border-bottom-right-radius: 40px;
            border-top: 4px solid #000;
            border-right: 4px solid #000;
            border-bottom: 4px solid #000;
            z-index: 1;
          }

          .p-podstawa {
            text-align: center;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 700;
            font-size: 50px;
          }

          .nazwa3 {
            position: absolute;
        width: 564px;
        height: 70px;
        left: calc(50% - 572px/2);
        top: calc(50% - 78px/2 - 140px);
        background: #FFFFFF;
        border-radius: 40px;
        border: 4px solid #000;
        outline: none;
        caret-color: transparent;
        color: #000;
        font-family: 'Poppins';
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            text-align: center;
        }

        .label-nazwa3 {
            position: absolute;
            width: 564px;
            height: 70px;
        left: calc(50% - 564px/2 + 30px);
        top: calc(50% - 70px/2 - 190px);
        font-family: 'Poppins';
            font-style: normal;
            font-weight: 700;
            font-size: 32px;
            color: #000;
        }

        .nazwa3:focus {
            background: rgba(255, 255, 255, 0.5);
        }

        .dataroz3 {
            position: absolute;
        width: 564px;
        height: 70px;
        left: calc(50% - 572px/2);
        top: calc(50% - 78px/2 - 10px);
        background: #FFFFFF;
        border-radius: 40px;
        border: 4px solid #000;
        outline: none;
        caret-color: transparent;
        color: #000;
        font-family: 'Poppins';
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            text-align: center;
        }

        .label-dataroz3 {
            position: absolute;
            width: 564px;
            height: 70px;
        left: calc(50% - 564px/2 + 30px);
        top: calc(50% - 70px/2 - 60px);
        font-family: 'Poppins';
            font-style: normal;
            font-weight: 700;
            font-size: 32px;
            color: #000;
        }

        .dataroz3:focus {
            background: rgba(255, 255, 255, 0.5);
        }

        .datauko3 {
            position: absolute;
        width: 564px;
        height: 70px;
        left: calc(50% - 572px/2);
        top: calc(50% - 78px/2 + 120px);
        background: #FFFFFF;
        border-radius: 40px;
        border: 4px solid #000;
        outline: none;
        caret-color: transparent;
        color: #000;
        font-family: 'Poppins';
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            text-align: center;
        }

        .label-datauko3 {
            position: absolute;
            width: 564px;
            height: 70px;
        left: calc(50% - 564px/2 + 30px);
        top: calc(50% - 70px/2 + 70px);
        font-family: 'Poppins';
            font-style: normal;
            font-weight: 700;
            font-size: 32px;
            color: #000;
        }

        .datauko3:focus {
            background: rgba(255, 255, 255, 0.5);
        }
          
        .label-wyksztal {
            position: absolute;
            width: 564px;
            height: 70px;
        left: calc(50% - 564px/2 - 5px);
        top: calc(50% - 70px/2 - 1050px);
        font-family: 'Poppins';
            font-style: normal;
            font-weight: 700;
            font-size: 50px;
            color: #000;
            text-align: center;
        }

        .wyksztal {
            position: absolute;
        width: 564px;
        height: 70px;
        left: calc(50% - 572px/2);
        top: calc(50% - 78px/2 - 880px);
        background: #FFFFFF;
        border-radius: 40px;
        border: 4px solid #000;
        outline: none;
        caret-color: transparent;
        color: #000;
        font-family: 'Poppins';
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            text-align: center;
        }
        .wyksztal:focus {
            background: rgba(255, 255, 255, 0.5);
        }

        .wyksztalcenie-1 {
            position: absolute;
            width: 604px;
            height: 608px;
            top: 2000px;
            left: calc(50% - 600px/2);

        }

        .p-wyksztalcenie {
            position: absolute;
            width: 564px;
            height: 70px;
        left: calc(50% - 564px/2 - 6.5px);
        top: calc(50% - 70px/2 - 300px);
            text-align: center;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 700;
            font-size: 50px;
        }

        .label-firma-nazwa {
            position: absolute;
            width: 564px;
            height: 70px;
        left: calc(50% - 564px/2 + 30px);
        top: calc(50% - 70px/2 - 220px);
        font-family: 'Poppins';
            font-style: normal;
            font-weight: 700;
            font-size: 32px;
            color: #000;
        }

        .firma-nazwa {
            position: absolute;
        width: 564px;
        height: 70px;
        left: calc(50% - 572px/2);
        top: calc(50% - 78px/2 - 170px);
        background: #FFFFFF;
        border-radius: 40px;
        border: 4px solid #000;
        outline: none;
        caret-color: transparent;
        color: #000;
        font-family: 'Poppins';
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            text-align: center;
        }

        .firma-nazwa:focus {
            background: rgba(255, 255, 255, 0.5);
        }

        .label-firma-stan {
            position: absolute;
            width: 564px;
            height: 70px;
        left: calc(50% - 564px/2 + 30px);
        top: calc(50% - 70px/2 - 90px);
        font-family: 'Poppins';
            font-style: normal;
            font-weight: 700;
            font-size: 32px;
            color: #000;
        }

        .firma-stan {
            position: absolute;
        width: 564px;
        height: 70px;
        left: calc(50% - 572px/2);
        top: calc(50% - 78px/2 - 40px);
        background: #FFFFFF;
        border-radius: 40px;
        border: 4px solid #000;
        outline: none;
        caret-color: transparent;
        color: #000;
        font-family: 'Poppins';
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            text-align: center;
        }

        .firma-stan:focus {
            background: rgba(255, 255, 255, 0.5);
        }

        .label-firma-dataroz {
            position: absolute;
            width: 564px;
            height: 70px;
        left: calc(50% - 564px/2 + 30px);
        top: calc(50% - 70px/2 + 40px);
        font-family: 'Poppins';
            font-style: normal;
            font-weight: 700;
            font-size: 32px;
            color: #000;
        }

        .firma-dataroz {
            position: absolute;
        width: 564px;
        height: 70px;
        left: calc(50% - 572px/2);
        top: calc(50% - 78px/2 + 90px);
        background: #FFFFFF;
        border-radius: 40px;
        border: 4px solid #000;
        outline: none;
        caret-color: transparent;
        color: #000;
        font-family: 'Poppins';
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            text-align: center;
        }

        .firma-dataroz:focus {
            background: rgba(255, 255, 255, 0.5);
        }

        .label-firma-datauko {
            position: absolute;
            width: 564px;
            height: 70px;
        left: calc(50% - 564px/2 + 30px);
        top: calc(50% - 70px/2 + 170px);
        font-family: 'Poppins';
            font-style: normal;
            font-weight: 700;
            font-size: 32px;
            color: #000;
        }

        .firma-datauko {
            position: absolute;
        width: 564px;
        height: 70px;
        left: calc(50% - 572px/2);
        top: calc(50% - 78px/2 + 220px);
        background: #FFFFFF;
        border-radius: 40px;
        border: 4px solid #000;
        outline: none;
        caret-color: transparent;
        color: #000;
        font-family: 'Poppins';
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            text-align: center;
        }

        .firma-datauko:focus {
            background: rgba(255, 255, 255, 0.5);
        }

        .wyksztalcenie-2 {
            position: absolute;
            width: 604px;
            height: 608px;
            top: 2600px;
            left: calc(50% - 600px/2);

        }

        .wyksztalcenie-3 {
            position: absolute;
            width: 604px;
            height: 608px;
            top: 3200px;
            left: calc(50% - 600px/2);

        }

        .wyksztalcenie-4 {
            position: absolute;
            width: 604px;
            height: 608px;
            top: 3800px;
            left: calc(50% - 600px/2);

        }

        .wyksztalcenie-5 {
            position: absolute;
            width: 604px;
            height: 608px;
            top: 4400px;
            left: calc(50% - 600px/2);

        }

        .label-dodatk {
            position: absolute;
            width: 564px;
            height: 70px;
        left: calc(50% - 564px/2 - 5px);
        top: calc(50% - 70px/2 + 2210px);
        font-family: 'Poppins';
            font-style: normal;
            font-weight: 700;
            font-size: 50px;
            color: #000;
            text-align: center;
        }

        .dodatk {
            position: absolute;
        left: calc(50% - 572px/2);
        top: calc(50% - 78px/2 + 2370px);
        background: #FFFFFF;
        border-radius: 40px;
        border: 4px solid #000;
        outline: none;
        caret-color: transparent;
        color: #000;
        font-family: 'Poppins';
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            text-align: center;
            padding: 3px;
        }

        .div-powrot {
            position: fixed;
            bottom: 20px;
            left: 20px;
        }

        .powrot {
            background: #fff;
            color: black;
             padding: 10px 20px;
             border: 4px solid #000;
             cursor: pointer;
             border-radius: 40px;
             font-family: 'Poppins';
             font-style: normal;
            font-weight: 700;
            font-size: 20px;
            text-align: center;
            opacity: 0.7;
        }

        .powrot:hover {
            background: rgba(255, 255, 255, 0.5);
          }

        .powrot-fixed {
            position: fixed;
            bottom: 10;
            left: 10;
          }

          .div-submit {
            position: fixed;
            bottom: 20px;
            right: 20px;
          }

          .submit {
            background: white;
            color: black;
             padding: 10px 20px;
             border: 4px solid #000;
             cursor: pointer;
             border-radius: 40px;
             font-family: 'Poppins';
             font-style: normal;
            font-weight: 700;
            font-size: 20px;
            text-align: center;
          }

          .submit:hover {
            background: rgba(255, 255, 255, 0.5);
          }

          .div-reset {
            position: fixed;
            bottom: 20px;
            right: 180px;
          }

          .reset {
            background: white;
            color: black;
             padding: 10px 20px;
             border: 4px solid #000;
             cursor: pointer;
             border-radius: 40px;
             font-family: 'Poppins';
             font-style: normal;
            font-weight: 700;
            font-size: 20px;
            text-align: center;
          }

          .reset:hover {
            background: rgba(255, 255, 255, 0.5);
          }

          .dzieki {
            position: absolute;
width: 1200px;
height: 96px;
left: calc(50% - 1200px/2);
top: calc(50% - 150px/2 - 20px);
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 64px;
line-height: 96px;
text-align: center;
text-transform: uppercase;

color: #FFF;
          }

          .powrot2 {
            position: absolute;
            width: 360px;
            height: 86px;
            left: calc(50% - 360px/2 - 200px);
            top: calc(50% - 86px/2 + 50px);

            background: #D9D9D9;
            opacity: 0.5;
            border-radius: 50px;
            border: none;
            text-align: center;
            transition: all 0.6s ease-in-out;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 700;
            font-size: 25px;
            color:#000;
        
        }

        .powrot2:hover {
            transform: scale(1.05)
        }

        .nowe {
            position: absolute;
            width: 360px;
            height: 86px;
            left: calc(50% - 360px/2 + 200px);
            top: calc(50% - 86px/2 + 50px);

            background: #D9D9D9;
            opacity: 0.5;
            border-radius: 50px;
            border: none;
            text-align: center;
            transition: all 0.6s ease-in-out;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 700;
            font-size: 25px;
            color:#000;
        }

        .nowe:hover {
            transform: scale(1.05)
        }